<!-- chat.html -->
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      function sendMessage() {
        var message = document.getElementById('message').value;
        socket.emit('chat message', message);
        document.getElementById('message').value = '';
      }

      socket.on('chat message', function(msg) {
        var messages = document.getElementById('messages');
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(msg));
        messages.appendChild(li);
      });
    </script>
  </head>
  <body>
    <ul id="messages"></ul>
    <input id="message" type="text" />
    <button onclick="sendMessage()">Send</button>
  </body>
</html>